* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: font-regular;
  src: url("./font/Raleway-Regular.ttf"); }
@font-face {
  font-family: font-bol;
  src: url("./font/Raleway-Bold.ttf"); }
body {
  min-width: 320px;
  height: auto;
  font-family: font-regular;
  color: #fff; }

header {
  background-image: url(./img/banner-top.jpg);
  width: 100%;
  float: left;
  background-size: cover; }

.center {
  float: left;
  height: auto;
  width: 100%; }
  .center .phone {
    float: left;
    font-size: 1.25rem;
    font-family: font-bol; }
    .center .phone img {
      float: left;
      margin: 15px 10px 0 0; }
    .center .phone p {
      margin-top: 12px;
      font-weight: bold; }
  .center .account .menutop {
    float: left;
    margin-left: -10px; }
    .center .account .menutop li {
      list-style: none;
      float: left;
      margin-top: 10px; }
      .center .account .menutop li a {
        color: #fff;
        font-weight: bold;
        padding: 0px 10px;
        border-left: 1px solid #fff;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: font-bol; }
    .center .account .menutop li:first-child a {
      border: none !important; }

#c-header {
  float: left;
  height: auto;
  width: 100%;
  background-color: #212121; }
  #c-header .logo {
    text-align: center;
    margin: 10px 0; }
  #c-header .tk {
    margin-bottom: 10px; }
    #c-header .tk .search {
      background-color: inherit;
      padding: 12px;
      border-radius: 0px;
      border: 1px solid #373737;
      color: #fff !important;
      height: 40px; }
    #c-header .tk .coin option {
      color: black;
      font-weight: bold;
      background: #fff; }
    #c-header .tk .searchbtn {
      font-weight: bold;
      background: #484848;
      border-radius: 0px;
      height: 40px; }
  #c-header .cart {
    margin-bottom: 10px; }
    #c-header .cart .money, #c-header .cart .lang {
      height: 40px;
      float: left;
      color: #fff;
      background-color: inherit;
      border-radius: 0px;
      border: 1px solid #373737;
      margin-bottom: 10px; }
      #c-header .cart .money option, #c-header .cart .lang option {
        color: black; }
    #c-header .cart .sc {
      width: 100%;
      height: 40px;
      float: left;
      font-size: 1.5rem;
      font-family: font-bol; }

#menu {
  float: left;
  height: auto;
  width: 100%; }
  #menu .navbar-inverse {
    float: left;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.62); }
    #menu .navbar-inverse ul li a {
      color: white;
      text-transform: uppercase;
      font-family: font-bol;
      font-size: 1.5rem;
      text-align: left; }

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important; }

#slogan {
  float: left;
  height: auto;
  width: 100%;
  text-align: center;
  padding: 230px 0;
  text-transform: uppercase;
  font-family: font-bol; }
  #slogan .text1 {
    font-size: 1.75rem; }
  #slogan .text2 {
    font-size: 4rem; }
  #slogan button {
    padding: 15px 20px;
    background-color: inherit;
    border: 1px solid #fff; }
  #slogan button:hover {
    background-color: black; }

#promotion {
  float: left;
  height: auto;
  width: 100%;
  font-family: font-bol; }
  #promotion .ship {
    border-top: 1px solid #373737;
    text-align: center;
    padding: 25px 0;
    font-size: 1.3rem; }

#mid-lane {
  float: left;
  height: auto;
  width: 100%; }

#post {
  float: left;
  height: auto;
  width: 100%;
  display: none;
  margin: 10px 0; }
  #post .sp1, #post .sp2, #post .sp3 {
    width: 32%;
    height: 215px;
    background-image: url(./img/sp1.jpg);
    margin-right: 1%;
    background-size: cover;
    text-align: center; }
    #post .sp1 button, #post .sp2 button, #post .sp3 button {
      margin-left: -15px;
      padding: 15px;
      text-transform: uppercase;
      background-color: #fff;
      border: 1px solid #fff;
      color: #4c4c4c;
      font-size: 15px;
      font-family: font-bol;
      position: static;
      margin-top: 85px; }
  #post .sp2 {
    background-image: url(./img/sp2.jpg); }
  #post .sp3 {
    width: 34%;
    margin-right: 0;
    background-image: url(./img/sp3.jpg); }

#clogthing {
  float: left;
  height: auto;
  width: 100%; }
  #clogthing .box {
    margin-left: 20px;
    margin-top: 20px; }
    #clogthing .box .td {
      text-transform: uppercase;
      font-family: font-bol;
      font-size: 1.75rem;
      color: #222222; }
    #clogthing .box .clean {
      width: 50px;
      height: 1px;
      background-color: black; }
  #clogthing .l-clogthing .img-clog, #clogthing .l-clogthing .f-bag .img-clog1, #clogthing .f-bag .l-clogthing .img-clog1 {
    width: 100%;
    height: auto;
    background-image: url(./img/bn1.jpg);
    background-size: cover;
    text-align: center;
    margin-top: 20px;
    font-family: font-bol;
    text-transform: uppercase;
    float: left; }
    #clogthing .l-clogthing .img-clog .jacket, #clogthing .l-clogthing .f-bag .img-clog1 .jacket, #clogthing .f-bag .l-clogthing .img-clog1 .jacket {
      padding: 80px 70px; }
      #clogthing .l-clogthing .img-clog .jacket .td1, #clogthing .l-clogthing .f-bag .img-clog1 .jacket .td1, #clogthing .f-bag .l-clogthing .img-clog1 .jacket .td1 {
        font-size: 50px;
        color: #fff; }
      #clogthing .l-clogthing .img-clog .jacket .nd1, #clogthing .l-clogthing .f-bag .img-clog1 .jacket .nd1, #clogthing .f-bag .l-clogthing .img-clog1 .jacket .nd1 {
        font-size: 14px; }
      #clogthing .l-clogthing .img-clog .jacket button, #clogthing .l-clogthing .f-bag .img-clog1 .jacket button, #clogthing .f-bag .l-clogthing .img-clog1 .jacket button {
        padding: 15px;
        background-color: #fff;
        border: 1px solid #fff;
        color: #4c4c4c;
        font-size: 15px; }
  #clogthing .f-clogthing, #clogthing .l-bag {
    margin-top: 20px; }
    #clogthing .f-clogthing .img-sp, #clogthing .l-bag .img-sp {
      float: left;
      height: auto;
      margin-bottom: 10px; }
      #clogthing .f-clogthing .img-sp img, #clogthing .l-bag .img-sp img {
        width: 100%;
        height: auto; }
      #clogthing .f-clogthing .img-sp .saler, #clogthing .l-bag .img-sp .saler {
        position: absolute;
        font-family: font-bol; }
        #clogthing .f-clogthing .img-sp .saler .new, #clogthing .l-bag .img-sp .saler .new, #clogthing .f-clogthing .img-sp .saler .sale, #clogthing .l-bag .img-sp .saler .sale {
          padding: 5px 8px;
          background-color: #46c89f;
          text-decoration: none;
          color: #fff;
          font-size: 14px;
          float: left; }
        #clogthing .f-clogthing .img-sp .saler .sale, #clogthing .l-bag .img-sp .saler .sale {
          padding: 5px 9px;
          background-color: #0074bd;
          margin-top: 5px; }
        #clogthing .f-clogthing .img-sp .saler .tile, #clogthing .l-bag .img-sp .saler .tile {
          display: none;
          position: absolute;
          padding: 10px;
          background-color: #fff;
          color: black;
          font-size: 14px;
          float: left;
          margin-top: 520%;
          margin-left: 430%; }
      #clogthing .f-clogthing .img-sp .hover, #clogthing .l-bag .img-sp .hover {
        position: absolute;
        display: none; }
        #clogthing .f-clogthing .img-sp .hover a, #clogthing .l-bag .img-sp .hover a {
          padding: 10px 15px;
          background-color: #fff;
          color: black;
          float: left;
          margin-right: 5px; }
        #clogthing .f-clogthing .img-sp .hover a:hover, #clogthing .l-bag .img-sp .hover a:hover {
          color: #fff;
          background-color: black; }
    #clogthing .f-clogthing .img-sp:hover .hover, #clogthing .l-bag .img-sp:hover .hover {
      position: absolute !important;
      display: none;
      margin-top: 50%;
      margin-left: 25%; }
    #clogthing .f-clogthing .name, #clogthing .l-bag .name {
      font-size: 14px;
      color: #393939;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #d9d9d9; }
    #clogthing .f-clogthing .tien, #clogthing .l-bag .tien {
      font-family: font-bol;
      color: red; }
      #clogthing .f-clogthing .tien span, #clogthing .l-bag .tien span {
        font-family: font-regular;
        margin-left: 10px;
        text-decoration: line-through;
        color: #a2a2a2; }
    #clogthing .f-clogthing .item, #clogthing .l-bag .item {
      float: left;
      width: auto; }
    #clogthing .f-clogthing .rating-stars, #clogthing .l-bag .rating-stars {
      float: left; }
    #clogthing .f-clogthing .rating-stars ul, #clogthing .l-bag .rating-stars ul {
      list-style-type: none;
      -moz-user-select: none;
      -webkit-user-select: none; }
    #clogthing .f-clogthing .rating-stars ul > li.star, #clogthing .l-bag .rating-stars ul > li.star {
      display: inline-block; }
    #clogthing .f-clogthing .rating-stars ul > li.star > i.fa, #clogthing .l-bag .rating-stars ul > li.star > i.fa {
      font-size: 0.8em;
      color: #ccc; }
    #clogthing .f-clogthing .rating-stars ul > li.star.hover > i.fa, #clogthing .l-bag .rating-stars ul > li.star.hover > i.fa {
      color: #FFCC36; }
    #clogthing .f-clogthing .rating-stars ul > li.star.selected > i.fa, #clogthing .l-bag .rating-stars ul > li.star.selected > i.fa {
      color: #FF912C; }
  #clogthing .f-bag .img-clog, #clogthing .f-bag .img-clog1 {
    width: 100%;
    height: auto;
    background-image: url(./img/bn1.jpg);
    background-size: cover;
    text-align: center;
    margin-top: 20px;
    font-family: font-bol;
    text-transform: uppercase;
    float: left; }
    #clogthing .f-bag .img-clog .jacket, #clogthing .f-bag .img-clog1 .jacket {
      padding: 80px 70px; }
      #clogthing .f-bag .img-clog .jacket .td1, #clogthing .f-bag .img-clog1 .jacket .td1 {
        font-size: 50px;
        color: #fff; }
      #clogthing .f-bag .img-clog .jacket .nd1, #clogthing .f-bag .img-clog1 .jacket .nd1 {
        font-size: 14px; }
      #clogthing .f-bag .img-clog .jacket button, #clogthing .f-bag .img-clog1 .jacket button {
        padding: 15px;
        background-color: #fff;
        border: 1px solid #fff;
        color: #4c4c4c;
        font-size: 15px; }
  #clogthing .f-bag .img-clog1 {
    background-image: url(./img/bn2.jpg); }

#seller {
  float: left;
  height: auto;
  width: 100%; }
  #seller .box {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }
    #seller .box .td {
      text-transform: uppercase;
      font-family: font-bol;
      font-size: 1.75rem;
      color: #222222; }
      #seller .box .td span {
        margin-left: 20px;
        color: #989898; }
    #seller .box .clean {
      width: 50px;
      height: 1px;
      background-color: black; }
  #seller .sell {
    margin-top: 20px; }
    #seller .sell .img-sp {
      float: left;
      height: auto;
      margin-bottom: 10px; }
      #seller .sell .img-sp img {
        width: 100%;
        height: auto; }
      #seller .sell .img-sp .saler {
        position: absolute;
        font-family: font-bol; }
        #seller .sell .img-sp .saler .new, #seller .sell .img-sp .saler .sale {
          padding: 5px 8px;
          background-color: #46c89f;
          text-decoration: none;
          color: #fff;
          font-size: 14px;
          float: left; }
        #seller .sell .img-sp .saler .sale {
          padding: 5px 9px;
          background-color: #0074bd;
          margin-top: 5px; }
        #seller .sell .img-sp .saler .tile {
          display: none;
          position: absolute;
          padding: 10px;
          background-color: #fff;
          color: black;
          font-size: 14px;
          float: left;
          margin-top: 520%;
          margin-left: 430%; }
      #seller .sell .img-sp .hover {
        position: absolute;
        display: none; }
        #seller .sell .img-sp .hover a {
          padding: 10px 15px;
          background-color: #fff;
          color: black;
          float: left;
          margin-right: 5px; }
        #seller .sell .img-sp .hover a:hover {
          color: #fff;
          background-color: black; }
    #seller .sell .img-sp:hover .hover {
      position: absolute !important;
      margin-top: 130px;
      margin-left: 55px; }
    #seller .sell .name {
      font-size: 14px;
      color: #393939;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #d9d9d9; }
    #seller .sell .tien {
      font-family: font-bol;
      color: red; }
      #seller .sell .tien span {
        font-family: font-regular;
        margin-left: 10px;
        text-decoration: line-through;
        color: #a2a2a2; }
    #seller .sell .item {
      float: left;
      width: auto; }
    #seller .sell .rating-stars {
      float: left; }
    #seller .sell .rating-stars ul {
      list-style-type: none;
      -moz-user-select: none;
      -webkit-user-select: none; }
    #seller .sell .rating-stars ul > li.star {
      display: inline-block; }
    #seller .sell .rating-stars ul > li.star > i.fa {
      font-size: 0.8em;
      color: #ccc; }
    #seller .sell .rating-stars ul > li.star.hover > i.fa {
      color: #FFCC36; }
    #seller .sell .rating-stars ul > li.star.selected > i.fa {
      color: #FF912C; }

#bloger {
  float: left;
  height: auto;
  width: 100%; }
  #bloger .box {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }
    #bloger .box .td {
      text-transform: uppercase;
      font-family: font-bol;
      font-size: 1.75rem;
      color: #222222; }
      #bloger .box .td span {
        margin-left: 20px;
        color: #989898; }
    #bloger .box .clean {
      width: 50px;
      height: 1px;
      background-color: black; }
  #bloger .blog {
    float: left;
    height: auto;
    width: 100%;
    font-family: font-bol; }
    #bloger .blog .mid-blog {
      position: absolute;
      bottom: 40%;
      padding: 0 20px;
      float: left;
      height: auto;
      width: 100%;
      text-align: center; }
    #bloger .blog .bot-blog {
      float: left;
      height: auto;
      width: 100%;
      position: absolute;
      bottom: 2%; }
      #bloger .blog .bot-blog .clean2 {
        border-top: 1px solid #6e6069;
        width: auto;
        height: 1px;
        margin: 0 15px; }
      #bloger .blog .bot-blog .left-blog {
        width: 50%;
        margin-top: 10px;
        float: left; }
      #bloger .blog .bot-blog .right-blog {
        margin-top: 10px;
        width: 50%; }
        #bloger .blog .bot-blog .right-blog a {
          float: right;
          text-decoration: none;
          color: #fff; }

#qc {
  float: left;
  height: auto;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }
  #qc .img-qc {
    width: 100%;
    height: auto; }
    #qc .img-qc img {
      padding: 20px 0; }

#bot-lane {
  float: left;
  height: auto;
  width: 100%;
  margin-bottom: 30px; }
  #bot-lane .gt, #bot-lane .sever {
    text-align: center;
    margin-top: 20px;
    color: #333333; }
    #bot-lane .gt img, #bot-lane .sever img {
      margin-bottom: 20px; }
    #bot-lane .gt p, #bot-lane .sever p {
      text-align: left; }
    #bot-lane .gt a, #bot-lane .sever a {
      font-family: font-bol;
      color: #333333; }
    #bot-lane .gt .read, #bot-lane .sever .read {
      text-align: left; }
  #bot-lane .sever .accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px; }
  #bot-lane .sever .custom p {
    font-family: font-bol;
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px; }
  #bot-lane .sever .link-sever {
    float: left;
    height: auto;
    width: 100%;
    display: none;
    background-color: white; }
    #bot-lane .sever .link-sever .ls {
      font-family: font-regular;
      color: #444444;
      width: 100%;
      float: left;
      text-align: left;
      padding: 10px;
      border-top: 1px solid #e5e5e5;
      text-decoration: none; }
    #bot-lane .sever .link-sever .ls:first-child {
      border-top: none;
      margin-top: 5px; }
    #bot-lane .sever .link-sever .us {
      width: 100%;
      text-align: left;
      float: left;
      padding: 10px;
      border-top: 1px solid #e5e5e5; }
      #bot-lane .sever .link-sever .us span {
        vertical-align: middle; }
    #bot-lane .sever .link-sever .us:first-child {
      border-top: none;
      margin-top: 5px; }

footer #subscribe {
  float: left;
  height: auto;
  width: 100%;
  background-color: #282828; }
  footer #subscribe .sign-up {
    float: left;
    margin-top: 20px;
    margin-bottom: 30px; }
    footer #subscribe .sign-up .newslletter {
      background-color: inherit;
      border: 1px solid #3e3e3e;
      border-radius: 0;
      font-size: 1.2rem;
      color: #fff;
      width: 100%;
      float: left;
      height: 40px; }
    footer #subscribe .sign-up .sign {
      padding: 7px 10px;
      border: 5px solid #3e3e3e;
      text-transform: uppercase;
      color: #fff;
      margin-top: 10px;
      font-size: 1.2rem;
      background-color: #212121; }
  footer #subscribe .mxh {
    margin: 20px 0; }
    footer #subscribe .mxh .img-mxh {
      float: left; }
      footer #subscribe .mxh .img-mxh #fb, footer #subscribe .mxh .img-mxh #twit, footer #subscribe .mxh .img-mxh #gg, footer #subscribe .mxh .img-mxh #ins, footer #subscribe .mxh .img-mxh #you, footer #subscribe .mxh .img-mxh #vibe {
        width: 60px;
        height: 60px;
        background: url("./img/social.png") -2px -5px; }
      footer #subscribe .mxh .img-mxh #twit {
        background: url("./img/social.png") -63px -5px; }
      footer #subscribe .mxh .img-mxh #gg {
        background: url("./img/social.png") -125px -5px; }
      footer #subscribe .mxh .img-mxh #ins {
        background: url("./img/social.png") -189px -5px; }
      footer #subscribe .mxh .img-mxh #you {
        background: url("./img/social.png") -251px -5px; }
      footer #subscribe .mxh .img-mxh #vibe {
        background: url("./img/social.png") -313px -5px; }
      footer #subscribe .mxh .img-mxh img:hover {
        opacity: 0.4; }
footer #end {
  float: left;
  height: auto;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #212121;
  font-size: 1.4rem;
  color: #767676;
  border-bottom: 1px solid #383838; }
  footer #end span {
    color: #fff; }
footer #menu-end {
  float: left;
  height: auto;
  width: 100%;
  background-color: #212121; }
  footer #menu-end .bot-menu {
    display: none;
    text-align: center; }
    footer #menu-end .bot-menu ul {
      width: 100%;
      text-align: center; }
      footer #menu-end .bot-menu ul li {
        list-style: none;
        float: left;
        border-right: 1px solid #797979;
        margin: 30px 0 0 0; }
        footer #menu-end .bot-menu ul li a {
          color: #797979;
          font-size: 1rem;
          padding: 0 15px; }
      footer #menu-end .bot-menu ul li:last-child {
        border: none; }
  footer #menu-end .payment .img-payment {
    text-align: center;
    float: left;
    margin: 30px 0 0 0; }
    footer #menu-end .payment .img-payment img {
      margin: 5px; }
footer .footer-logo {
  float: left;
  background-color: #212121; }
  footer .footer-logo img {
    width: 100%;
    height: auto;
    float: left; }

.owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next {
  border-radius: 0;
  background-color: #fff;
  color: black; }

.owl-five .owl-nav .owl-prev {
  border-radius: 0;
  background-color: inherit;
  color: black;
  position: absolute;
  left: 0; }
.owl-five .owl-nav .owl-next {
  border-radius: 0;
  background-color: inherit;
  color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 5%; }
.owl-five .owl-nav .owl-prev:hover, .owl-five .owl-nav .owl-next:hover {
  background-color: inherit; }

/* Responsive min-width:606px*/
@media (min-width: 606px) {
  #h-header .center .phone {
    width: 50%; }
  #h-header .center .account {
    width: 50%; }
    #h-header .center .account .menutop {
      float: right; }

  footer #menu-end .bot-menu {
    display: block; }

  #clogthing .f-clogthing .img-sp .saler .tile, #clogthing .l-bag .img-sp .saler .tile, #clogthing .l-bag .img-sp .saler .tile {
    display: block; }

  #seller .sell .img-sp .saler .tile {
    display: block; } }
/* End responsive min-width:606px*/
/* Responsive min-width:768px*/
@media (min-width: 768px) {
  #menu {
    width: 100%;
    float: left;
    display: inline;
    height: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.62); }
    #menu .navbar-inverse {
      background: no-repeat;
      background: rgba(0, 0, 0, 0.62); }
      #menu .navbar-inverse ul li:hover {
        background-color: #212121; }
      #menu .navbar-inverse .center-menu {
        width: 100%;
        height: auto;
        position: relative; }
      #menu .navbar-inverse .mid-menu {
        display: flex;
        justify-content: center; }
    #menu .dropdown-menu {
      background: rgba(0, 0, 0, 0.62); }
      #menu .dropdown-menu a:hover {
        background-color: #212121; }

  #promotion {
    width: 100%;
    border-top: 1px solid #373737; }
    #promotion .ship {
      border-top: none;
      border-right: 1px solid #373737; }
    #promotion .ship:first-child {
      border-left: 1px solid #373737; }

  #clogthing .f-clogthing .img-sp:hover .hover, #clogthing .l-bag .img-sp:hover .hover, #clogthing .l-bag .img-sp:hover .hover {
    display: block;
    margin-left: 18%;
    margin-top: 40%; }

  #seller .sell .img-sp .saler .tile {
    display: block;
    margin-left: 18%;
    margin-top: 40%; } }
/* End responsive min-width:768px*/
/* Responsive min-width:992px*/
@media (min-width: 992px) {
  #c-header .logo {
    float: left;
    text-align: left; }
  #c-header .tk {
    margin-top: 20px; }
  #c-header .cart {
    margin-top: 20px; }
    #c-header .cart .money, #c-header .cart .lang {
      width: 20%; }
    #c-header .cart .lang {
      width: 40%; }
    #c-header .cart .sc {
      width: 40%;
      border-radius: 0;
      font-size: 1.3rem;
      line-height: 25px; }

  #clogthing .f-clogthing .img-sp:hover .hover, #clogthing .l-bag .img-sp:hover .hover, #clogthing .l-bag .img-sp:hover .hover {
    margin-top: 30%;
    margin-left: 15%; }

  #seller .sell .img-sp .saler .tile {
    margin-left: 25%;
    margin-top: 50%; }

  .owl-one .owl-nav {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -30px; }
    .owl-one .owl-nav .owl-prev, .owl-one .owl-nav .owl-next {
      border-radius: 0;
      background-color: #fff;
      color: black; }

  .owl-two .owl-nav {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -70px; }
    .owl-two .owl-nav .owl-prev, .owl-two .owl-nav .owl-next {
      border-radius: 0;
      background-color: #fff;
      color: black; }

  .owl-thre .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -55px; }
    .owl-thre .owl-nav .owl-prev, .owl-thre .owl-nav .owl-next {
      border-radius: 0;
      background-color: #fff;
      color: black; }

  .owl-thre .owl-nav.disabled {
    display: block; }

  .owl-four .owl-nav {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -50px; }
    .owl-four .owl-nav .owl-prev, .owl-four .owl-nav .owl-next {
      border-radius: 0;
      background-color: #fff;
      color: black; }

  #bot-lane .gt .qc, #bot-lane .sever .qc {
    width: 100%;
    float: left; }
    #bot-lane .gt .qc img, #bot-lane .sever .qc img {
      float: left; }
  #bot-lane .sever .custom .accordion {
    position: relative; }
  #bot-lane .sever .custom p {
    text-align: left; }
  #bot-lane .sever .link-sever {
    display: block; }

  footer #subscribe {
    float: left; }
    footer #subscribe .sign-up {
      margin-top: 35px;
      float: left; }
      footer #subscribe .sign-up .newslletter {
        width: 70%;
        float: left;
        margin-right: 5px; }
      footer #subscribe .sign-up .sign {
        float: left;
        margin-top: 0; }
    footer #subscribe .mxh .img-mxh {
      float: right; } }
/* End responsive min-width:992px*/
/* Responsive min-width:1200px*/
@media (min-width: 1200px) {
  #clogthing .f-clogthing .img-sp:hover .hover, #clogthing .l-bag .img-sp:hover .hover, #clogthing .l-bag .img-sp:hover .hover {
    margin-left: 25%;
    margin-top: 50%; }

  #seller .sell .img-sp .saler .tile {
    margin-left: 25%;
    margin-top: 50%; }

  .owl-one .owl-nav {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -30px; }
    .owl-one .owl-nav .owl-prev, .owl-one .owl-nav .owl-next {
      border-radius: 0;
      background-color: #fff;
      color: black; }

  .owl-two .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -70px; }
    .owl-two .owl-nav .owl-prev, .owl-two .owl-nav .owl-next {
      border-radius: 0;
      background-color: #fff;
      color: black; }

  .owl-thre .owl-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -55px; }
    .owl-thre .owl-nav .owl-prev, .owl-thre .owl-nav .owl-next {
      border-radius: 0;
      background-color: #fff;
      color: black; }

  .owl-two .owl-nav.disabled {
    display: block; }

  .owl-thre .owl-nav.disabled {
    display: block; } }
/* End responsive min-width:1200px*/

/*# sourceMappingURL=style.css.map */
