*{margin: 0; padding: 0}
@font-face{
	font-family: font-regular;
	src:url("./font/Raleway-Regular.eot?") format("eot"),
		url("./font/Raleway-Regular.woff") format("woff"),
		url("./font/Raleway-Regular.ttf") format("truetype"),
		url("./font/Raleway-Regular.svg#Raleway") format("svg");
}
@font-face{
	font-family: font-bol;
	src:url("./font/Raleway-Bold.eot?") format("eot"),
	url("./font/Raleway-Bold.woff") format("woff"),
	url("./font/Raleway-Bold.ttf") format("truetype"),
	url("./font/Raleway-Bold.svg#Raleway-Bold") format("svg");
}
body{
	min-width: 320px;
	height: auto;
	font-family: font-regular;
	color: #fff;
}

header{
	background-image: url(./img/banner-top.jpg);
	width: 100%;
	float: left;
	background-size: cover;
}
@mixin float-left{
	float: left;
	height: auto;
	width: 100%;
}
.center{
	@include float-left;
	.phone{
		float: left;
		font-size: 1.25rem;
		font-family: font-bol;
		img{
			float: left;
			margin:15px 10px 0 0;
		}
		p{
			margin-top: 12px;
			font-weight: bold;
		}
	}
	.account{
		.menutop{
			float: left;
			margin-left: -10px;
			li{
				list-style: none;
				float: left;
				margin-top: 10px; 
				a{
					color: #fff;
					font-weight: bold;
					padding: 0px 10px;
					border-left: 1px solid #fff;
					text-decoration:none;
					font-size: 1.2rem;
					font-family: font-bol;
				}
			}
			li:first-child a{
				border:none !important;
			}
		}
	}
}
#c-header{
	@include float-left;
	background-color: #212121;
	.logo{
		text-align: center;
		margin: 10px 0;
	}
	.tk{
		margin-bottom: 10px; 	
		.search{
			background-color: inherit;
			padding: 12px ;
			border-radius: 0px;
			border: 1px solid #373737;
			color: #fff !important;
			height: 40px;
		}
		.coin option{
			color: black;
			font-weight: bold;
			background:#fff;
		}
		.searchbtn{
			font-weight: bold;
			background: #484848;
			border-radius: 0px;
			height: 40px;
		}
	}
	.cart{
		margin-bottom: 10px;
		.money{
			height: 40px;
			float:left;
			color: #fff;
			background-color: inherit;
			border-radius: 0px;
			border: 1px solid #373737;
			margin-bottom: 10px;
			option{
				color: black;
			}
		}
		.lang{
			@extend .money;
		}
		.sc{
			width: 100%;
			height: 40px;
			float: left;
			font-size: 1.5rem;
			font-family: font-bol;
		}
	}
}
#menu{
	@include float-left;
	.navbar-inverse{
		@include float-left;
		background: rgba(0, 0, 0, 0.62);
		 ul li a{
			color: white;
			text-transform: uppercase;
			font-family: font-bol;
			font-size: 1.5rem;
			text-align: left;
		}
	}
}
.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;

 }
#slogan{
	@include float-left;
	text-align: center;
	padding: 230px 0;
	text-transform: uppercase;
	font-family: font-bol;
	.text1{
		font-size: 1.75rem;
	}
	.text2{
		font-size: 4rem;
	}
	button{
		padding:15px 20px;
		background-color: inherit;
		border: 1px solid #fff;
	}
	button:hover{
		background-color: black;
	}
}
#promotion{
	@include float-left;
	font-family: font-bol;
		.ship{
			border-top: 1px solid #373737;
			text-align: center;
			padding: 25px 0;
			font-size: 1.3rem;
		}
}
#mid-lane{
	@include float-left;
}
#post{
	@include float-left;
	display: none;
	margin:10px 0;
	.sp1{
		width: 32%;
		height: 215px;
		background-image: url(./img/sp1.jpg);
		margin-right: 1%;
		background-size: cover;
		text-align: center;
		button{
			margin-left: -15px;
			padding: 15px;
			text-transform: uppercase;
			background-color: #fff;
			border: 1px solid #fff;
			color: #4c4c4c;
			font-size: 15px;
			font-family: font-bol;
			position: static;
			margin-top: 85px;
		}
	}
	.sp2{
		@extend .sp1;
		background-image: url(./img/sp2.jpg);
	}
	.sp3{
		@extend .sp1;
		width: 34%;
		margin-right: 0;
		background-image: url(./img/sp3.jpg);
	}
}
#clogthing{
	@include float-left;
	.box{
		margin-left: 20px;
		margin-top: 20px;
		.td{
			text-transform: uppercase;
			font-family: font-bol;
			font-size: 1.75rem;
			color: #222222;
		}
		.clean{
			width: 50px;
			height: 1px;
			background-color: black;
		}
	}
	

	.l-clogthing{
		.img-clog{
			width: 100%;
			height: auto;
			background-image: url(./img/bn1.jpg);
			background-size: cover;
			text-align: center;
			margin-top: 20px;
			font-family: font-bol;
			text-transform: uppercase;
			float: left;
			.jacket{
				padding: 80px 70px;
				.td1{
					font-size: 50px;
					color: #fff;
				}
				.nd1{
					font-size: 14px;			
				}
				button{
					padding: 15px;
					background-color: #fff;
					border: 1px solid #fff;
					color: #4c4c4c;
					font-size: 15px;
				}
			}
		}
	}
	.f-clogthing{
		margin-top: 20px;
		.img-sp{
			float: left;
			height: auto;
			margin-bottom: 10px;
			img{
				width: 100%;
				height: auto;
			}
			.saler{
				position: absolute;
				font-family: font-bol;
				.new{
					padding: 5px 8px;
					background-color: #46c89f;
					text-decoration: none;
					color: #fff;
					font-size: 14px;
					float: left;
				}
				.sale{
					@extend .new;
					padding: 5px 9px;
					background-color: #0074bd;
					margin-top: 5px;
				}
				.tile{
					display: none;
					position: absolute;
					padding: 10px;
					background-color: #fff;
					color: black;
					font-size: 14px;
					float: left;
					margin-top:520%;
					margin-left: 430%;

				}
			}
			.hover{		
				position: absolute;
				display: none;
				a{
					padding: 10px 15px;
					background-color: #fff;
					color: black;
					float: left;
					margin-right: 5px;				
				}
				a:hover{
					color: #fff;
					background-color: black;
				}
			}
		}
		.img-sp:hover .hover{
			position: absolute !important;
			display: none;
			margin-top: 50%;
			margin-left: 25%;
		}
		.name{
			font-size: 14px;
			color: #393939;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #d9d9d9;
		}
		.tien{
			font-family: font-bol;
			color: red;
			span{
				font-family: font-regular;
				margin-left: 10px;
				text-decoration: line-through;
				color: #a2a2a2;
			}
		}
		.item{
			float: left;
			width: auto;

		}
		.rating-stars{
			float: left;
		}
		.rating-stars ul {
		  list-style-type:none;
		  -moz-user-select:none;
		  -webkit-user-select:none;
		}
		.rating-stars ul > li.star {
		  display:inline-block; 
		}
		.rating-stars ul > li.star > i.fa {
		  font-size:0.8em; 
		  color:#ccc; 
		}
		.rating-stars ul > li.star.hover > i.fa {
		  color:#FFCC36;
		}
		.rating-stars ul > li.star.selected > i.fa {
		  color:#FF912C;
		}

	}
	.l-bag{
		@extend .f-clogthing;
	}
	.f-bag{
		.img-clog{
			width: 100%;
			height: auto;
			background-image: url(./img/bn1.jpg);
			background-size: cover;
			text-align: center;
			margin-top: 20px;
			font-family: font-bol;
			text-transform: uppercase;
			float: left;
			.jacket{
				padding: 80px 70px;
				.td1{
					font-size: 50px;
					color: #fff;
				}
				.nd1{
					font-size: 14px;			
				}
				button{
					padding: 15px;
					background-color: #fff;
					border: 1px solid #fff;
					color: #4c4c4c;
					font-size: 15px;
				}
			}
		}
		.img-clog1{
			@extend .img-clog;
			background-image: url(./img/bn2.jpg);
		}
	}
}
#seller{
	@include float-left;
	.box{
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		.td{
			text-transform: uppercase;
			font-family: font-bol;
			font-size: 1.75rem;
			color: #222222;
			span{
				margin-left: 20px;
				color:#989898;
			}
		}
		.clean{
			width: 50px;
			height: 1px;
			background-color: black;
		}
	}
	.sell{
		margin-top: 20px;
		.img-sp{
			float: left;
			height: auto;
			margin-bottom: 10px;
			img{
				width: 100%;
				height: auto;
			}
			.saler{
				position: absolute;
				font-family: font-bol;
				.new{
					padding: 5px 8px;
					background-color: #46c89f;
					text-decoration: none;
					color: #fff;
					font-size: 14px;
					float: left;
				}
				.sale{
					@extend .new;
					padding: 5px 9px;
					background-color: #0074bd;
					margin-top: 5px;
				}
				.tile{
					display: none;
					position: absolute;
					padding: 10px;
					background-color: #fff;
					color: black;
					font-size: 14px;
					float: left;
					margin-top:520%;
					margin-left: 430%;
				}
			}
			.hover{		
				position: absolute;
				display: none;
				a{
					padding: 10px 15px;
					background-color: #fff;
					color: black;
					float: left;
					margin-right: 5px;				
				}
				a:hover{
					color: #fff;
					background-color: black;
				}
			}
		}
		.img-sp:hover .hover{
			position: absolute !important;
			margin-top:130px;
			margin-left: 55px;
		}
		.name{
			font-size: 14px;
			color: #393939;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #d9d9d9;
		}
		.tien{
			font-family: font-bol;
			color: red;
			span{
				font-family: font-regular;
				margin-left: 10px;
				text-decoration: line-through;
				color: #a2a2a2;
			}
		}
		.item{
			float: left;
			width: auto;

		}
		.rating-stars{
			float: left;
		}
		.rating-stars ul {
		  list-style-type:none;
		  -moz-user-select:none;
		  -webkit-user-select:none;
		}
		.rating-stars ul > li.star {
		  display:inline-block; 
		}
		.rating-stars ul > li.star > i.fa {
		  font-size:0.8em; 
		  color:#ccc; 
		}
		.rating-stars ul > li.star.hover > i.fa {
		  color:#FFCC36;
		}
		.rating-stars ul > li.star.selected > i.fa {
		  color:#FF912C;
		}
	}
}
#bloger{
	@include float-left;
	.box{
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		.td{
			text-transform: uppercase;
			font-family: font-bol;
			font-size: 1.75rem;
			color: #222222;
			span{
				margin-left: 20px;
				color:#989898;
			}
		}
		.clean{
			width: 50px;
			height: 1px;
			background-color: black;
		}
	}
	.blog{
		@include float-left;
		font-family: font-bol;
		.mid-blog{
			position: absolute;
			bottom: 40%;
			padding: 0 20px;
			@include float-left;
			text-align: center;
		}
		.bot-blog{
			@include float-left;
			position: absolute; 
			bottom: 2%;
			.clean2{
				border-top: 1px solid #6e6069;
				width: auto;
				height: 1px;
				margin:0 15px;
			}
			.left-blog{
				width: 50%;
				margin-top: 10px;
				float: left;
			}
			.right-blog{
				margin-top: 10px;
				width: 50%;
				a{
					float: right;
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}
}
#qc{
	@include float-left;
	margin-top: 30px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	.img-qc{
		width: 100%;
		height: auto;
		img{
			padding: 20px 0;
		}
	}
}
#bot-lane{
	@include float-left;
	margin-bottom: 30px;
	.gt{
		text-align: center;
		margin-top: 20px;
		color: #333333;
		img{
			margin-bottom: 20px;	
		}
		p{
			text-align: left;
		}
		a{
			font-family: font-bol;
			color: #333333;
		}
		.read{
			text-align: left;
		}
	}
	.sever{
		@extend .gt;
		.accordion {
		    cursor: pointer;
		    width: 100%;
		    border: none;
		    text-align: left;
		    outline: none;
		    font-size: 15px;
		}
		.custom p{
			font-family: font-bol;
			border-bottom: 1px solid #e5e5e5;
			font-size: 1.5rem;
			text-transform: uppercase;
			margin-top: 10px;
			text-align: center;
			padding-bottom: 10px;
		}
		.link-sever{
			@include float-left;
		    display: none;
		    background-color: white;
			.ls{
				font-family: font-regular;
				color: #444444;
				width: 100%;
				float: left;
				text-align: left;
				padding: 10px;
				border-top: 1px solid #e5e5e5;
				text-decoration: none;
			}
			.ls:first-child{
				border-top: none;
				margin-top: 5px;
			}
			.us{
				width: 100%;
				text-align: left;
				float: left;
				padding:10px;
				border-top: 1px solid #e5e5e5;
				span{
					vertical-align: middle;
				}
			}
			.us:first-child{
				border-top: none;
				margin-top: 5px;
			}

		}
	}
}
footer{
	#subscribe{
		@include float-left;
		background-color: #282828;
		.sign-up{
			float: left;
			margin-top: 20px;
			margin-bottom: 30px;
			.newslletter{
				background-color: inherit;
				border:1px solid #3e3e3e;
				border-radius: 0;
				font-size: 1.2rem;
				color: #fff;
				width: 100%;
				float: left;
				height: 40px;
			}
			.sign{
				padding: 7px 10px;
				border:5px solid #3e3e3e;
				text-transform: uppercase;
				color: #fff;
				margin-top: 10px;
				font-size: 1.2rem;
				background-color: #212121;
			}
		}
		.mxh{
			margin:20px 0;
			.img-mxh{
				float: left;
				#fb{
					width: 60px;
				    height: 60px;
				    background: url('./img/social.png') -2px -5px;
				}
				#twit{
					@extend #fb;
					background: url('./img/social.png') -63px -5px;
				}
				#gg{
					@extend #fb;
					background: url('./img/social.png') -125px -5px;
				}
				#ins{
					@extend #fb;
					background: url('./img/social.png') -189px -5px;
				}
				#you{
					@extend #fb;
					background: url('./img/social.png') -251px -5px;
				}
				#vibe{
					@extend #fb;
					background: url('./img/social.png') -313px -5px;
				}
				img{
				}
				img:hover{
					opacity: 0.4;
				}
			}
		}
	}
	#end{
		@include float-left;
		padding: 20px 0;
		text-align: center;
		background-color: #212121;
		font-size: 1.4rem;
		color: #767676;
		border-bottom: 1px solid #383838;
		span{
			color: #fff;
		}
	}
	#menu-end{
		@include float-left;
		background-color: #212121;
		.bot-menu{
			display: none;
			text-align: center;
			ul{
				width: 100%;
				text-align: center;
				li{
				list-style: none;
				float: left;
				border-right: 1px solid #797979;
				margin: 30px 0 0 0;
				a{
					color: #797979;
					font-size: 1rem;
					padding: 0 15px;

				}
				}
				li:last-child{
					border:none;
				}
			}
		}
		.payment{
			.img-payment{
				text-align: center;
				float: left;
				margin: 30px 0 0 0;
				img{
					margin: 5px;
				}
			}
		}
	}
	.footer-logo{
		float: left;
		background-color: #212121;
		img{
			width: 100%;
			height: auto;
			float: left;
		}
	}
}
.owl-theme .owl-nav{
	.owl-prev, .owl-next{
		border-radius: 0;
		background-color: #fff;
		color: black;
	}
}
.owl-five .owl-nav{
		.owl-prev{
			border-radius: 0;
			background-color: inherit;
			color: black;
			position: absolute;
			left: 0;
		}
		.owl-next{
			border-radius: 0;
			background-color: inherit;
			color: black;
			position: absolute;
			right: 0;
			bottom: 0;
			margin-bottom: 5%;
		}
		.owl-prev:hover, .owl-next:hover{
			background-color: inherit;
		}
	}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
}
#myBtn:hover{
	background-color: #000;
}
/* Responsive min-width:606px*/
@media (min-width:606px){
	#h-header{
		.center{
		.phone{
		width: 50%;
		}
		.account{
			width: 50%;
			.menutop{
				float: right;
			}
		}
	}
	}
	footer #menu-end .bot-menu{
		display: block;
	}
	#clogthing .f-clogthing .img-sp .saler .tile, #clogthing .l-bag .img-sp .saler .tile{
		display: block;
	}
	#seller .sell .img-sp .saler .tile{
		display: block;
	}
}
/* End responsive min-width:606px*/

/* Responsive min-width:768px*/
@media (min-width:768px){
	#menu{
		width: 100%;
		float: left;
		display: inline;
		height: auto;
		text-align: center;
		background: rgba(0, 0, 0, 0.62);
		.navbar-inverse{
			background:no-repeat;
			background: rgba(0, 0, 0, 0.62);
			ul li:hover{
				background-color:#212121;
			}
			.center-menu{
				width: 100%;
				height: auto;
				position: relative;
			}
			.mid-menu{
				display: flex;
				justify-content: center;

			}
		}
		
		.dropdown-menu{
			background: rgba(0, 0, 0, 0.62);
			a:hover{
				background-color:#212121;
			}
		}
	}
	#promotion{
		width: 100%;
		border-top: 1px solid #373737;
		.ship{
			border-top: none;
			border-right: 1px solid #373737;
		}
		.ship:first-child{
			border-left: 1px solid #373737;
		}
	}
	#clogthing .f-clogthing .img-sp:hover .hover, #clogthing .l-bag .img-sp:hover .hover{
		display: block;
		margin-left: 18%;
		margin-top: 40%;
	}
	#seller .sell .img-sp .saler .tile{
		display: block;
		margin-left: 18%;
		margin-top: 40%;
	}
}
/* End responsive min-width:768px*/

/* Responsive min-width:992px*/
@media (min-width:992px){
	#c-header{
		.logo{
			float: left;
			text-align: left;
		}
		.tk{
			margin-top: 20px;
		}
		.cart{
			margin-top: 20px;
			.money{
				width: 20%;
			}
			.lang{
				width: 40%;
			}
			.sc{
				width: 40%;
				border-radius: 0;
				font-size: 1.3rem;
				line-height: 25px;
			}
		}
	}
	#clogthing .f-clogthing .img-sp:hover .hover, #clogthing .l-bag .img-sp:hover .hover{
		margin-top: 30%;
		margin-left: 15%;
	}
	#seller .sell .img-sp .saler .tile{
		margin-left: 25%;
		margin-top:50%;
	}
	.owl-one .owl-nav{
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -30px;
		.owl-prev, .owl-next{
			border-radius: 0;
			background-color: #fff;
			color: black;
		}
	}
	.owl-two .owl-nav{
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -70px;
		.owl-prev, .owl-next{
			border-radius: 0;
			background-color: #fff;
			color: black;
		}
	}
	.owl-thre .owl-nav{
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -55px;
		.owl-prev, .owl-next{
			border-radius: 0;
			background-color: #fff;
			color: black;
		}
	}
	.owl-thre .owl-nav.disabled{
		display: block;
	}
	.owl-four .owl-nav{
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -50px;
		.owl-prev, .owl-next{
			border-radius: 0;
			background-color: #fff;
			color: black;
		}
	}
	#bot-lane{
		.gt{
			.qc{
				width: 100%;
				float: left;
				img{
					float: left;
				}
			}
		}
		.sever{
			.custom{
				.accordion{
					position: relative;
				} 
				p{
					text-align: left;
				}
			}
			.link-sever{
				display: block;
			}
		}
	}
	footer{
		#subscribe{
			float: left;
			.sign-up{
				margin-top: 35px;
				float: left;
				.newslletter{
					width: 70%;
					float: left;
					margin-right: 5px;
				}
				.sign{
					float: left;
					margin-top: 0;
				}
			}
			.mxh{
				.img-mxh{
					float: right;
				}
			}
		}
	}
}
/* End responsive min-width:992px*/

/* Responsive min-width:1200px*/
@media (min-width:1200px){
	#clogthing .f-clogthing .img-sp:hover .hover, #clogthing .l-bag .img-sp:hover .hover{
		margin-left: 25%;
		margin-top:50%; 
	}
	#seller .sell .img-sp .saler .tile{
		margin-left: 25%;
		margin-top:50%;
	}
	.owl-one .owl-nav{
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -30px;
		.owl-prev, .owl-next{
			border-radius: 0;
			background-color: #fff;
			color: black;
		}
	}
	.owl-two .owl-nav{
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -70px;
		.owl-prev, .owl-next{
			border-radius: 0;
			background-color: #fff;
			color: black;
		}
	}
	.owl-thre .owl-nav{
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -55px;
		.owl-prev, .owl-next{
			border-radius: 0;
			background-color: #fff;
			color: black;
		}
	}
	.owl-two .owl-nav.disabled{
		display: block;
	}
	.owl-thre .owl-nav.disabled{
		display: block;
	}
}
/* End responsive min-width:1200px*/
